@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,600&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Reseto y estilo general para todo el sitio web*/
:root {
    --color-verde: #306b39;
    --color-verde-claro: #7fcb26;
    --color-naranja: #eb9520;
    --color-blanco: #f3f3f3;
    --color-negro: #1f1f1f;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'Roboto', Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
}
/* para quitar el subrayado de los link*/
a {
    text-decoration: none;
}
/* para quitar el deco de la lista*/
ul li {
    list-style: none;
    margin: 3%;
    width: 100%;
}
body {
    color: var(--color-negro);
}
/* Header, logo y navbar */
#header {
    width: 100%;
    background: linear-gradient(to right, var(--color-verde), var(--color-verde-claro));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    height: 15vh;
}
.container-logo {
    width: 5rem;
}
nav a {
    color: var(--color-blanco);
    border-radius: .5rem;
    background-color: var(--color-naranja);
    padding: .3rem .5rem;
    font-weight: bold;
    text-decoration: none;
}
#claro-oscuro {
    background-color: transparent;
    border: none;
    font-size: 1rem;
}
.dark {
    color: var(--color-blanco);
    background-color: var(--color-negro);
}
/* main del index*/
.banner img {
    max-height: 65vh;
}
.intro {
    width: 100%;
    padding: 0 10vw;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.2rem;
}
.history {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.history img {
    width: 80%;
    display: inline-block;
    margin: 0 auto;
}

/* flex column*/
.container-flex {
    display: flex;
    flex-direction: column;
}
section, p {
    margin-bottom: 2%;
}

h3 {
    text-align: center;
}
/* Sector con link a la tienda */
.tienda {
    width: 100%;
    background: linear-gradient(to left, var(--color-verde), var(--color-verde-claro)) 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 5% 10%;

}
/* Cada div consta de un titulo y foto link al sector de la tienda correspondiente*/
.tienda div {
    height: 280px;
    max-width: 300px;
    width: 100%;
    border: 3px solid var(--color-verde);
    border-radius: .5rem;
    background-color: var(--color-blanco);
    display: flex;
    flex-direction: column;

} 
.tienda img {
    height: 220px;
    object-fit: cover;
    border-radius: .5rem .5rem 0px 0px;
}
.tienda h3 {
    padding: 8px;
}


/* Sector de articulos con intereses */
.articulosInteres{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.intereses {
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.intereses article {
    border: 1px solid #000;
    padding: 5%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 300px;
    gap: 1rem;
    justify-content: space-around;
    overflow-y: auto;
}
/* link a redes sociales. Aca coloque la animacion*/
.contacto{
    padding: 5%;
    margin-bottom: 4rem;
}
.enlaces-social {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5%;
    animation: cambiarColor 3s 1s infinite;
    margin-bottom: 3rem;
    gap: 1rem;
}
.enlaces-social h2 {
    text-align: center;
}
.enlaces-social ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.enlaces-social ul li {
    width: max-content;
}
.enlaces-local {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

/* Formulario de contacto*/
.formulario {
    padding: 15% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form { 
    padding: 2rem 1rem;
    width: 100%;
    background-color: var(--color-verde-claro);
    border-radius: 0px 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formulario img {
    display: none;
}
.formulario input, textarea {
    padding: 4px 8px;
    border: none;
    border-radius: .2rem;
    margin: 4px 0;
}
/* Botones de formulario*/
.boton {
    background-color: var(--color-verde);
    color: var(--color-blanco);
    padding: 3% 5%;
    border-radius: .5rem;
    box-shadow: -3px 3px #9999999a;
    font-weight: bold;
}
.formBotones {
    display: flex;
    gap: 10%;
    justify-content: center;
}
/* Nuevo color de fondo en el boton al colocar el puntero encima */
.formBotones input[class="boton"]:hover {
    background-color:var(--color-verde-claro);
    color: var(--color-negro);
}

/* Aplica una sombra roja alrededor del input cuando no se completo correctamente*/
.inputNoValido {
    border: 1px solid #ff0000;
    box-shadow: 0 0 3px 1px #ff0000; 
    } 

.formulario input:hover , .formTextArea:hover {
    border: 2px solid #fff;
    box-shadow: 0 0 3px 3px var(--color-blanco); 
}

/* Footer*/
footer {
    background: linear-gradient(to right, var(--color-verde),var(--color-verde-claro)) 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
}
footer div {
    padding: 2%;
}
footer img{
    width: 6rem;
}
footer h5 {
    margin-bottom: 8px;
}

li a {
    color: var(--color-negro);
    text-decoration: none;
}

/* ------------Estilos de la pag tienda--------------*/

.aside {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--color-verde-claro);
    }

.aside ul li {
    margin: 5% 0%;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #eb9520;
    border-radius: 5px;
    background-color: #eb9520;
    text-align: center;
}
.aside ul li a {
    text-decoration: none;
    margin: 1%;
    
}
#tienda {
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
/*Division para cada categoria*/
#tienda .categoria {
    margin-bottom:1.2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--color-verde);  
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: .8rem;
}
/* tarjeta con la descripcion de cada planta*/
#tienda .tarjeta {
    border: 2px solid var(--color-verde);
    width: 90%;
    max-width: 280px;
    max-height: 380px;
    padding: 5%;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-bottom: 3%;  
    height: 90vh;
    border-radius: 5%;
    box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.5);
}
/*Para el texto que sobresale de la tarjeta*/
#tienda .tarjeta div {
    overflow-y: auto;
}
#tienda .tarjeta img {
    padding: 5%;
    height: 35vh;
    object-fit: cover;
}
#tienda .tarjeta div {
    padding: 0% 5%; 
}
/*Estilo solo para el titilo de la tarjeta*/
#tienda .tarjeta div h3 {
    margin-bottom: 3%; 
    font-style: italic; 
    font-weight: bolder;
}
#tienda h1, #tienda h2  {
    margin-bottom: 2%; 
    text-align: center;
    }


/* MediaQuery para responsive*/
@media  screen and (min-width: 760px) {
    .intro {
        grid-template-columns: 1fr 1fr;
    }
    .grid-item1 {
        grid-column: 1 /3;
    }
    .history {
        display: block;
    }
    .history img.float-img {
        width: 250px;
        float: right;
        margin: 0 0 10px 10px; /* Espacio alrededor de la imagen */
      }
    .tienda, .enlaces-local, .intereses, footer {
        flex-direction: row;
    }
    .enlaces-local iframe{
        width: 50%;
    }
    .formulario img {
        display: block;
        width: 40%;
    }
    #principalTienda .aside {
        width: 100% ;
        padding: 1%;
    }
    #principalTienda .aside ul {
        display: flex;   
        gap: 3%;
        align-items: center; 
    }
    #principalTienda .aside  ul li{
        margin: 1%;
    }
    #tienda {
        padding: 2% 0;
    }
    #tienda .categoria {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 16px;
        justify-items: center;
    }
    .grid-item2 {
        grid-column: 1/4;
    }
  
    
}
@media screen and (min-width:761px) and (max-width:900px) {
    #header {
        height: auto;
    }
    .tienda img {
        height: 22vh;
    }
    /* Pagina tienda */
    #principalTienda #tienda .tarjeta img {
        width: 100%;
        height: 50%;
        padding: 2%;
    }
}
@media screen and (min-width:900px) and (max-width:1025px) {
    .intro {
        padding: 0% 12%;
    }
    .tienda img {
        height: 40vh;
    }
    .articulosInteres{
        padding: 0 15%;
    }

}

@media screen and (min-width:1026px) {
    #principal, footer, .aside, header, .mainTienda { 
        font-size: 1.2rem;
    }
    .banner img {
        max-height: 85vh;
    }
    .tienda {
        padding: 2%;
        justify-content: center;
    }
    .formLabel , .formEntrada {
        height: 8vh;
    }
    .boton {
        font-weight: bold;
        font-size: 1.5rem;
    }
    #principalTienda {
        display: grid;
        grid-template-columns: 1fr auto ;
    }
    #principalTienda .aside{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    #principalTienda .aside ul {
        flex-direction: column;
        padding:8px;
    }
}


    

/* animacion para cambiar el color de fondo de la seccion de redes social */
@keyframes cambiarColor {
    from {
      background-color: linear-gradient(to right, #306b39, #7fcb26); /* Color inicial */
    }
    to {
      background-color: #71ff1f; /* Color final */
    }
}